@model IEnumerable<AdvancedDBAndORM_Assignment1.Models.Album>

@{
    ViewData["Title"] = "Index";
}

 
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
               
                <a asp-action="Details" asp-route-id="@item.ID">Songs</a>  
            </td>
        </tr>
}
    </tbody>
</table>
