@model AdvancedDBAndORM_Assignment1.Models.ModelVM.SongPlayListVM

@{
    ViewData["Title"] = "Index";
}

<h4>SongName: @ViewBag.SongName</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add" method="Post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <select asp-for="LibraryID" asp-items="Model.Libraries"></select>
          
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
